.header {
  padding-top: 16px;
  padding-bottom: 32px;

  @media (min-width: 1025px) {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

.header__content {
  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'burger logo .'
    'title title title';

  @media (min-width: 1025px) {
    grid-template-areas:
      'logo . .'
      'title title title';
  }
}

.header__burger {
  grid-area: burger;
}

.header__logo {
  grid-area: logo;
  margin: auto;

  @media (min-width: 1025px) {
    margin: 0;
    
.header--inner .header__content {
  grid-template-areas: 'burger logo .';

  @media (min-width: 1025px) {
    grid-template-areas: 'logo . dark-mode';
  }
}

.header__title {
  grid-area: title;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  color: var(--black);

  @media (min-width: 1025px) {
    font-size: 50px;
    line-height: 64px;
  }
}

.header__logo {
  grid-area: logo;
  margin: auto;

  @media (min-width: 1025px) {
    margin: 0;
  }
}

.header__dark-mode {
  grid-area: dark-mode;
  display: none;

  @media (min-width: 1025px) {
    margin-left: auto;
  }
}
