.card {
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
  border-radius: 0.75rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card__footer {
  margin-top: 24px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
}
