.burger {
  appearance: none;

  width: 32px;
  height: 32px;
  padding: 0;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--main-text);
}
