.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page--inner {
  background-color: var(--gray-1);
}

.page__main--inner {
  width: 100%;
  display: grid;
  grid-template-columns: 229px 1fr;
  gap: 56px;
}
