@import '../fonts/fonts.css';
@import './normalize.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/logo/logo.css';
@import '../../components/card/card.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --blue: #4263eb;
  --deep-blue: #2342c0;
  --light-blue: #a0b1f5;
  --purple: #7048e8;
  --deep-purple: #5028c6;
  --red: #f03d3e;
  --pink: #f784ad;
  --gray-1: #f9fafc;
  --gray-2: #dde2e5;
  --gray-3: #acb5bd;
  --gray-4: #495057;
  --gray-5: #e2e6e8;
  --gray-6: #f3f5f5;
  --gray-7: #e3e7ea;
  --gray-8: #c4c4c4;
  --gray-9: #90a0b7;
  --slate: #334d6e;

  --success: var(--blue);
  --error: var(--red);

  --primary: var(--blue);
  --secondary: var(--purple);

  --shadow: 0 2px 4px 0px color-mix(in srgb, var(--black), transparent 95%);
}

* {
  font-family: 'Roboto', sans-serif;
}
