.radio {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.radio__box {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--gray-2);
  background-color: var(--white);
}

.radio__label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-4);
}

.radio__input:checked + .radio__box {
  border-width: 2px;
  border-color: var(--primary);
  background-color: var(--primary);
  box-shadow: inset 0px 0px 0px 4px var(--white);
}

.radio__input:disabled + .radio__box {
  background-color: var(--gray-2);
}

.radio__input:disabled ~ .radio__label {
  color: var(--gray-2);
}

.radio__input:focus-visible ~ .radio__label {
  text-decoration: underline;
}
