.skeleton {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-3);
}

.skeleton__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skeleton__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skeleton__circle {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--gray-2);
}

.skeleton__rect {
  height: 20px;
  background: linear-gradient(
    92.51deg,
    var(--gray-2) 6.44%,
    var(--gray-5) 38.47%,
    var(--gray-6) 56.48%,
    var(--gray-7) 77.5%,
    var(--gray-2) 102.52%
  );
  background-size: 200%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: loading;
}

.skeleton__rect--50 {
  width: 50%;
}

.skeleton__rect--75 {
  width: 75%;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}
