.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__trigger:hover + .tooltip__bubble {
  display: flex;
}
.tooltip__bubble {
  display: none;

  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);

  width: 129px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  background-color: var(--primary);
  color: var(--gray-2);
  box-shadow: var(--shadow);
}

.tooltip__bubble::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: var(--primary);
}

.tooltip--preview .tooltip__trigger + .tooltip__bubble {
  display: flex;
}

.tooltip__icon {
  color: var(--black);
}
