.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  transform: translateX(-100vw);
  transition: transform 0.3s;
  background-color: var(--gray-1);
  z-index: 1000;
}

.burger-menu__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.burger-menu__logo {
  margin: auto;
}

.burger-menu__content {
  margin-top: 32px;
}

.burger-menu__dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: var(--black);
}

.burger-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burger-menu__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--gray-3);
}

.burger-menu__link {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: var(--black);
}

.burger-menu__button {
  appearance: none;

  width: 32px;
  height: 32px;
  padding: 0;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  @media (min-width: 1025px) {
    display: none;
  }
}

.burger-menu__button--close {
  border-radius: 50%;
  background-color: var(--gray-2);
}

.burger-menu[data-open] {
  transform: translateX(0);
}
