.input {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.input__wrapper {
  position: relative;
}

.input__label {
  text-transform: uppercase;

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;

  color: var(--gray-3);
}

.input__field {
  width: 350px;
  height: 56px;
  padding-left: 24px;
  padding-right: 16px;
  border: 1px solid var(--gray-2);
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  color: var(--gray-4);
}

.input__icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.input--success .input__field {
  border-color: var(--success);
}

.input--error .input__field {
  border-color: var(--error);
}

.input--success .input__icon--success {
  display: inline-flex;
  color: var(--success);
}

.input--error .input__icon--error {
  display: inline-flex;
  color: var(--error);
}
